.App {
  display: grid;
  grid-template-columns: calc(var(--smart-res-unit) * 7.5) 1fr calc(
      var(--smart-res-unit) * 7.5
    );
  grid-template-rows: calc(var(--smart-res-unit) * 7.5) auto auto auto;
  grid-template-areas:
    'nav header aside'
    'nav header aside'
    'nav main aside'
    'nav footer aside';
}
.App .Header {
  grid-area: header;
}
.App .Nav {
  grid-area: nav;
}
.App .Aside {
  grid-area: aside;
}
.App .Main {
  grid-area: main;
}
.App .Footer {
  grid-area: footer;
}

@media (max-aspect-ratio: 1/1) {
  .App {
    grid-template-areas:
      'nav nav nav'
      'header header header'
      'main main main'
      'footer footer footer';
  }
}
