.Nav {
  grid-area: nav;

  --item-count: 5;
  width: min(calc(100vh / var(--item-count)), 100%);
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  box-shadow: var(--bs), var(--bs);
}
.Nav a {
  display: block;
  width: calc(var(--smart-res-unit) * 7.5);
  height: calc(var(--smart-res-unit) * 7.5);
  max-width: min(
    calc(100vw / var(--item-count)),
    calc(100vh / var(--item-count))
  );
  max-height: min(
    calc(100vw / var(--item-count)),
    calc(100vh / var(--item-count))
  );
  padding: calc(calc(var(--smart-res-unit) * 7.5) * 20 / 100);
  transition: background 0.125s ease, transform 0.125s ease;
}
.Nav a:nth-of-type(1) {
  transition: border 0.125s ease;
  box-shadow: var(--bs);
}
.Nav a svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: var(--card2-bg);
  border: 0 solid var(--card-bg);
  transition: fill 0.125s ease, border 0.125s ease, transform 0.125s ease;
}
.Nav a:hover svg {
  border-color: transparent;
  fill: var(--color);
}

.Nav a:nth-of-type(1) svg {
  fill: none;
  margin: -12.5%;
  width: 125%;
  height: 125%;
}

.Nav div:nth-of-type(2) svg {
  transform: scaleX(-1);
}

.Nav .svg-on svg {
  fill: var(--color);
}

@media (max-aspect-ratio: 1/1) {
  .Nav {
    width: 100vw;
    height: min(calc(100vw / var(--item-count)), 100%);
    flex-direction: row;
  }
}
