/*https://www.w3schools.com/css/css3_variables.asp*/
:root {
  --black: #000;
  --bg: #111111;
  --bg-l: #18181a;
  --card-bg: #28282b;
  --card-bg-l: #38383b;

  --text: #aaa;
  --title: #fff;

  --TODO: #f00;

  --bs: 0 0 0.5em var(--black);
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
  --lg: linear-gradient(-45deg, var(--color-l), var(--color));
  --lg-d: linear-gradient(-45deg, var(--color), var(--color-d));
  --vh: 1vh;

  --sans: Roboto, sans-serif;
  --mono: Inconsolata, monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font*/
  max-height: 999999999px;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}
html *:not(head *):not(script):not(style) {
  /* https://www.youtube.com/watch?v=bngsrbFI2UY&t=120s */
  display: flex;
}
body {
  width: 100%;
  overflow-x: hidden;
  /*https://www.hostinger.com/tutorials/best-html-web-fonts*/
  font-family: var(--sans);
  font-size: clamp(
    calc(calc(100vh + 100vw) / 140),
    1.75rem,
    calc(calc(100vh + 100vw) / 55)
  );
  font-weight: 300;
  line-height: 1.6;
  color: var(--text);
  background: var(--bg);
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-track {
  background: inherit;
  /*box-shadow: inset 5px 0 5px #000;*/
  /*background-clip: content-box;*/
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 0.5vh;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-l);
}

::selection {
  background: var(--color-d);
  color: var(--title);
}
