:root {
  --bg: #000;
  --bg-l: #111;

  /* TODO: remove all --card-bg and --card-bg-l from project */
  --card-bg: #28282b;
  --card-bg-l: #38383b;

  --bright: #fff;
  --light: #ccc;
  --dark: #222;

  --TODO: #f00;

  /* TODO: remove all --bs from comments */
  /* TODO: remove all --border from comments and from Card.js */
  --border: 0.125em solid var(--card-bg-l);
  --br: 1.25em;
  --br-s: 0.5em;

  --sans: Roboto, sans-serif;
  --mono: 'Fira Code', monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

html *:not(head *):not(script):not(style) {
  /* https://www.youtube.com/watch?v=bngsrbFI2UY&t=120s */
  display: flex;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--sans);
  /* TODO: */
  font-size: 1.125rem;
  /* t-size: clamp(
    calc(calc(100vh + 100vw) / 140),
    1.5rem,
    calc(calc(100vh + 100vw) / 60)
  ); */
  font-weight: 400;
  line-height: 1.6;
  color: var(--light);
  background: var(--bg);
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}
::-webkit-scrollbar-track {
  background: inherit;
  /*box-shadow: inset 5px 0 5px #000;*/
  /*background-clip: content-box;*/
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 0.5vh;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-l);
}

::selection {
  background: var(--color-d);
  color: var(--bright);
}
