.lg-hover {
  position: relative;
  background: transparent;
}
.lg-hover::before,
.lg-hover::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 0.125s ease;
}
.lg-hover::before {
  background: var(--lg-d);
}
.lg-hover::after {
  background: var(--lg);
}
.lg-hover:hover::after {
  opacity: 0;
}
