.container {
  display: inline-block;
  vertical-align: 10%;
  padding: calc(var(--smart-unit) * 0.5) calc(var(--smart-unit) * 1);

  background: var(--card2-bg);
  border-radius: calc(var(--smart-unit) * 1);
  font-family: var(--mono);
  font-size: 0.666em;
}
.cursor {
  display: inline;
  color: var(--color-l);
  animation: blink-animation 0.5s step-start 0s infinite;
}

/*https://stackoverflow.com/questions/13955163/imitating-a-blink-tag-with-css3-animations*/
@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}
