.container {
  display: inline-block;
  vertical-align: 10%;
  align-items: center;
  padding: 0.25em 0.5em;

  border: var(--border);
  border-radius: var(--border-radius);
  font-family: var(--mono);
  font-size: 0.666em;
}
.cursor {
  display: inline;
  color: var(--color-l);
  animation: blink-animation 0.5s step-start 0s infinite;
}

/*https://stackoverflow.com/questions/13955163/imitating-a-blink-tag-with-css3-animations*/
@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}
