.card {
  --padding: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  top: 0;

  transition: background-color 0.125s ease-in-out, top 0.25s ease-in-out;
  border-radius: 0.25em;
  text-decoration: none;
  color: var(--text);
  white-space: initial;
  background: var(--card-bg);
  box-shadow: var(--bs);
  cursor: pointer;
}

.card > * {
  white-space: initial;
  padding: var(--padding);
}
.card img {
  padding: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.25em;
}
.title {
  flex: 1;
  align-items: center;
  border-radius: 0.25em;
  background: var(--card-bg);
  transition: background-color 0.125s ease-in-out;
}
.title h2 {
  margin: 0;
}
.popupContainer {
  position: relative;
  padding: 0;
}
.popup {
  opacity: 0;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  pointer-events: none;

  border-radius: 0 0 0.25em 0.25em;
  background: var(--card-bg);
  transition: background-color 0.125s ease-in-out, opacity 0.125s ease-in-out;
}
.desc {
  padding: var(--padding);
}
.tags {
  align-self: flex-end;
  flex-wrap: wrap;
  margin: var(--padding);
}

.card:hover,
.card.hover {
  top: -0.25em;
  z-index: 1;
  border-radius: 0.25em 0.25em 0 0;
  background: var(--card-bg-l);
}
.card:hover .popup,
.card.hover .popup {
  opacity: 1;
  box-shadow: var(--bs);
  background: var(--card-bg-l);
}
.card:hover .title,
.card.hover .title {
  z-index: 2;
  border-radius: 0;
  background: var(--card-bg-l);
}
