.card {
  --padding: 0.75em;
  display: grid;
  grid-template-columns: 1fr 0 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 0;
  align-items: center;
  position: relative;
  top: 0;

  transition: background-color 0.125s ease-in-out, top 0.25s ease-in-out;
  border-radius: 0.25em;
  text-decoration: none;
  color: var(--text);
  white-space: initial;
  background: var(--card-bg);
  box-shadow: var(--bs);
  cursor: pointer;
}

/* .software {
  background: var(--card2-bg);
  border: none;
}
.hardware {
  background: var(--card-bg);
  border: none;
}
.blog {
  background: var(--bg);
  border: none;
}*/
.blog {
  background: var(--bg);
}

.card > * {
  grid-column: span 2;
  white-space: initial;
  margin: var(--padding);
}
.date {
  grid-column: span 1;
}
.card img {
  margin: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.25em;
}
.card img {
  grid-area: img;
  align-self: flex-start;
}
.title {
  grid-area: title;
  transition: color 0.125s ease;
}
.title h2 {
  margin: 0;
}

.desc {
  grid-area: desc;
}
.tags {
  grid-area: tags;
  align-self: flex-end;
  flex-wrap: wrap;
}
.card:hover {
  top: -0.25em;
  background: var(--card-bg-l);
}
.blog:hover {
  background: var(--bg-l);
}
.card.mini .desc {
  display: none;
}
.card.mini h2 {
  font-size: 1em;
}
.card.mini .tags > *:not(:nth-child(1)) {
  display: none;
}

.card.row.nor {
  grid-template-areas: 'img img img' 'title title title' 'desc desc desc' 'tags tags tags';
  /* border-radius: 0.25em 0.25em 0 0; */
}
.card.row.inv {
  grid-template-areas: 'title title title' 'desc desc desc' 'tags tags tags' 'img img img';
  /* border-radius: 0 0 0.25em 0.25em; */
}
.card.col.nor {
  grid-template-areas: 'img desc desc' 'img desc desc' 'img tags tags' 'title tags tags';
  /* border-radius: 0.25em 0 0 0; */
}
.card.col.inv {
  grid-template-areas: 'desc desc img' 'desc desc img' 'tags tags img' 'tags tags title';
  /* border-radius: 0 0.25em 0 0; */
}
.card.row {
  grid-row: span 2;
}
.card.col {
  grid-column: span 2;
}
.card.row.inv img {
  align-self: flex-end;
}
