.card {
  --padding: calc(var(--smart-unit) * 2.5);
  display: grid;
  grid-template-columns: 1fr 0 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 0;
  align-items: center;
  position: relative;
  top: 0;

  transition: top 0.25s ease;
  text-decoration: none;
  color: var(--text);
  white-space: initial;
  background: var(--card-bg);
  box-shadow: var(--bs);
  cursor: pointer;
  /* ;border: calc(var(--smart-unit) * 0.25) solid var(--card2-bg); */
}

/*.software {
  background: var(--card2-bg);
  border: none;
}
.hardware {
  background: var(--card-bg);
  border: none;
}
.blog {
  background: var(--bg);
  border: none;
}*/
.blog {
  background: var(--bg);
}

.card > * {
  grid-column: span 2;
  white-space: initial;
  margin: var(--padding);
}
.date {
  grid-column: span 1;
}
.card img {
  margin: 0;
  width: 100%;
  border-radius: calc(var(--smart-unit) * 0.5);
}
.card img {
  grid-area: img;
  align-self: flex-start;
}
.title {
  grid-area: title;
  transition: color 0.125s ease;
}
.desc {
  grid-area: desc;
}
.tags {
  grid-area: tags;
  align-self: flex-end;
}
.card:hover .markup-h2 {
  color: var(--color);
}
.card:hover {
  top: calc(var(--smart-unit) * -1);
}

.card.row.nor {
  grid-template-areas: 'img img img' 'title title title' 'desc desc desc' 'tags tags tags';
}
.card.row.inv {
  grid-template-areas: 'title title title' 'desc desc desc' 'tags tags tags' 'img img img';
}
.card.col.nor {
  grid-template-areas: 'img desc desc' 'img desc desc' 'img tags tags' 'title tags tags';
}
.card.col.inv {
  grid-template-areas: 'desc desc img' 'desc desc img' 'tags tags img' 'tags tags title';
}
.card.row {
  grid-row: span 2;
}
.card.col {
  grid-column: span 2;
}
.card.row.inv img {
  align-self: flex-end;
}

/*.card.software {
  border-color: var(--color);
}
.card.software .markup-h2 {
  color: var(--color);
}
.card.software:hover .markup-h2 {
  color: var(--title);
}
.card.hardware {
  border-color: var(--title);
}
.card.blog {
  border-color: var(--card2-bg);
}*/
