.Marked,
.Marked * {
  display: block;
}
.Marked {
  overflow: hidden;
}

.Marked h2,
h2.Marked {
  font-size: 1.74em;
  letter-spacing: -0.08ch;
}
.Marked h1,
h1.Marked {
  font-size: 2.5em;
  letter-spacing: -0.08ch;
  line-height: 1;
}
.Marked h1,
.Marked h2,
h1.Marked,
h2.Marked {
  color: var(--title);
  font-weight: lighter;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.Marked em,
em.Marked {
  display: inline-block;
  font-style: italic;
}
.Marked strong,
strong.Marked {
  display: inline-block;
  font-weight: normal;
  color: var(--title);
}
.Marked p,
p.Marked {
  margin: 0.5em 0;
}
.Marked section {
  position: relative;
  width: 80%;
  margin: 1em 10%;
  padding-top: calc(9 / 16 * 80%); /*16:9 aspect ratio*/
}
.Marked section > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: var(--bs);
}
.Marked table {
  margin: 2em 10%;
}
.Marked table thead {
  margin: 0 -10%;
}
.Marked table thead tr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
  grid-gap: 1em;
  break-inside: avoid;
}
.Marked table tbody tr {
  display: flex;
  flex-direction: row;
}
.Marked table tbody td {
  margin: 0.5em;
}
.Marked table img,
.Marked table iframe,
.Marked table video {
  margin: 0;
  max-width: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Marked code,
.Marked pre code,
code.Marked,
pre.Marked code {
  transition: background-color 0.25s ease-in-out;
  font-family: var(--mono);
  font-weight: normal;
  font-size: 0.66em;
  background: var(--card-bg);
  border-radius: 0.25em;
  box-shadow: var(--bs);
}
.Marked code,
code.Marked {
  display: inline-block;
  vertical-align: middle;
  padding: 0.125em 0.75em;
  border-radius: 0.25em;
}
.Marked pre code,
pre.Marked code {
  display: block;
  padding: 1em;
  margin: 2em 10%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.Marked pre code *,
pre.Marked code * {
  display: inline;
}
.Marked sub,
.Marked sup,
sub.Marked,
sup.Marked {
  font-size: 0.6em;
  font-weight: bold;
}
.Marked ul,
ul.Marked {
  list-style-type: square;
}
.Marked ul,
.Marked ol,
ul.Marked,
ol.Marked {
  margin: 1em 10%;
}
.Marked li,
li.Marked {
  display: list-item;
}
.Marked ::marker {
  color: var(--title);
}
.Marked blockquote,
blockquote.Marked {
  font-style: italic;
  font-weight: normal;
  padding: 0 2vw;
  padding-left: 1.5vw;
  border-left: 0.25em solid var(--color);
  margin: 2em 10%;
}
.Marked a,
a.Marked {
  display: inline-block;
  color: var(--color-l);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
/*https://stackoverflow.com/questions/30352431/css-transition-not-working-with-underline*/
.Marked a::after,
a.Marked::after {
  display: block;
  content: '';
  width: 0%;
  margin-top: -0.25em;
  height: 0.075em;
  background: var(--color);
  transition: background 0.125s ease, width 0.125s ease;
}
.Marked a:hover::after,
a.Marked:hover::after {
  background: var(--color-l);
  width: 100%;
}

.Marked a[name] {
  pointer-events: none;
  text-decoration: none;
  position: relative;
  top: -7.5em;
}
.Marked img,
.Marked video,
img.Marked,
video.Marked {
  display: block;
  object-fit: contain;
  max-height: 75vh;
  max-width: 80%;
  margin: 1em 10%;
  border-radius: 0.25em;
  box-shadow: var(--bs), var(--bs);
}

@media (max-aspect-ratio: 1/1) {
  .Marked pre code,
  .Marked blockquote,
  .Marked section > iframe,
  .Marked table,
  pre.Marked code,
  blockquote.Marked,
  table.Marked {
    margin-right: 0;
    margin-left: 0;
  }
  .Marked ul,
  .Marked ol,
  ul.Marked,
  ol.Marked {
    margin: 1em 2ch;
  }
  .Marked img,
  .Marked video,
  img.Marked,
  video.Marked {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .Marked section {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-top: calc(9 / 16 * 100%); /*16:9 aspect ratio*/
  }
  .Marked blockquote,
  blockquote.Marked {
    border-left-width: 0.5vw;
  }
  .Marked table tbody tr {
    flex-direction: column;
  }
}
