.mosaic {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--smart-res-unit) * 22.5), 1fr)
  );
  grid-template-rows: auto auto;
  grid-gap: calc(var(--smart-unit) * 2.5);
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/
  grid-auto-flow: column;
}
/*Portrait*/
@media (max-aspect-ratio: 1/1) {
  .mosaic {
    grid-template-columns: 1fr;
  }
}
