.MosaicLarge {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(var(--smart-res-unit) * 30), 1fr)
  );
  grid-gap: calc(var(--smart-unit) * 2.5);
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/
  grid-auto-flow: dense;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Portrait*/
@media (max-aspect-ratio: 1/1) {
  .MosaicLarge {
    grid-template-columns: 1fr;
  }
}
