.Toggle {
  display: inline-flex;
  width: auto;
  align-items: center;
  cursor: pointer;
}
.Toggle p {
  display: inline-block;
  margin: 1em;
}
.child {
  display: inline-block;
  width: 3em;
  height: 1.5em;
  border-radius: 100vh;
  background: var(--card2-bg);
  box-shadow: var(--bs);
  transition: background-color 0.125s ease-in-out;
}
.thumb {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100vh;
  background: var(--title);
  box-shadow: var(--bs);
  transition: margin-left 0.125s ease-in-out;
}
.Toggle.active .thumb {
  margin-left: 1.5em;
}
.Toggle.active .child {
  background: var(--color-l);
}
