.button-container {
  display: inline-block;
  color: var(--title);
  margin: 0.25em;
  padding: 0.25em;
  border: var(--border);
  border-radius: var(--border-radius);
  border-color: var(--color-l);
  box-shadow: var(--bs);
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.125s ease-in-out, top 0.25s ease-in-out;
  position: relative;
  top: 0;
}
.button-container:hover {
  background: var(--color-l);
  top: -0.25em;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.5em 2em;
  font-size: 0.66em;
  border-radius: inherit;
}
.button svg {
  display: inline-block;
  height: 1em;
  width: auto;
  margin: 0.25em;
  margin-left: 0.5em;
  fill: var(--title) !important;
}
