.Card {
  flex-direction: column;
  position: relative;
  top: 0;

  border-radius: var(--br);
  text-decoration: none;
  color: var(--light);
  cursor: pointer;

  transition: top 0.25s ease-in-out;
}

.Card .details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  flex-direction: column;
  justify-content: space-around;
  padding: 1em;

  opacity: 0;
  transition: opacity 0.125s ease-in-out;
}

.Card .details strong {
  text-align: center;
  margin-bottom: 1em;
}

.Card .details .desc {
  display: block;
  text-align: justify;
}

.Card .details .desc * {
  padding-left: 0;
}

.Card .pin {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 2em;
  height: 2em;

  align-items: center;
  justify-content: center;

  color: var(--light);
  border-radius: 100%;
  background-color: var(--bg);
  transition: background-color 0.125s ease-in-out, color 0.125s ease-in-out;
}

.Card .pin i {
}

.Card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: var(--br);

  filter: grayscale();
  transition: filter 0.125s ease-in-out;
}

.Card.hover {
  top: -0.25em;
}

.Card.hover .details {
  opacity: 1;
}

.Card.hover .pin {
  background-color: transparent;
  color: var(--color);
}

/* light mode */
/* .Card.hover strong,
.Card.hover p,
.Card.hover div:not(:first-child) {
  color: #fff;
} */

.Card.hover img {
  filter: grayscale() brightness(0.1875) blur(0.25em);
}
