.Card {
  flex-direction: column;
  position: relative;
  top: 0;

  border-radius: var(--br);
  text-decoration: none;
  color: var(--light);
  cursor: pointer;

  transition: top 0.25s ease-in-out;
}

.Card .details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  flex-direction: column;
  justify-content: space-around;
  padding: 1em;

  opacity: 0;
  transition: opacity 0.125s ease-in-out;
}

.Card .details strong {
  text-align: center;
  margin-bottom: 1em;
}

.Card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: var(--br);

  filter: grayscale();
  transition: filter 0.125s ease-in-out;
}

.Card .tags {
  /* almost (triplicate) */
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.25em;
}

/* https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid */
/* (duplicate) */
.Card .tags::after {
  content: '';
  flex: auto;
}

.Card.hover {
  top: -0.25em;
}

.Card.hover .details {
  opacity: 1;
}

/* light mode */
/* .Card.hover strong,
.Card.hover p,
.Card.hover div:not(:first-child) {
  color: #fff;
} */

.Card.hover img {
  filter: brightness(0.125);
}
