.Marked,
.Marked * {
  display: block;
}

.Marked h1,
.Marked hr,
h1.Marked,
hr.Marked {
  width: 100%;
  text-align: center;

  font-size: 2.25em;
  /* TODO: */
  letter-spacing: 0.05ch;
  line-height: 1.25;
}

.Marked h2,
h2.Marked {
  font-size: 1.5em;
  /* TODO: */
  letter-spacing: -0.08ch;
}

.Marked hr,
hr.Marked {
  border: none;
}

.Marked h1::before,
h1.Marked::before {
  content: '# ';
}

.Marked h2::before,
h2.Marked::before {
  content: '## ';
}

.Marked hr::before,
hr.Marked::before {
  content: '---';
}

.Marked h1,
.Marked h2,
.Marked hr,
h1.Marked,
h2.Marked,
hr.Marked {
  margin-top: 4em;
  margin-bottom: 1.5em;

  color: var(--bright);
  font-family: var(--mono);
  font-weight: 400;
}

.Marked h1::before,
.Marked h2::before,
.Marked hr::before,
h1.Marked::before,
h2.Marked::before,
hr.Marked::before {
  white-space: pre;
  color: var(--color-l);
  font-weight: 400;
}

/* remove margin when h2 follows h1 */
.Marked h1 + .Marked h2,
h1.Marked + h2.Marked {
  margin-top: 0;
}

.Marked em,
em.Marked {
  display: inline;
  font-style: italic;
}

/* TODO:*/
.Marked strong,
strong.Marked {
  display: inline;
  color: var(--bright);
  font-family: var(--mono);
  font-weight: 600;
  font-size: 0.8em;
}

.Marked strong::before,
.Marked strong::after,
strong.Marked::before,
strong.Marked::after {
  content: '*';
  display: inline;
  white-space: pre;
  color: var(--color-l);
  font-weight: 400;
}

.Marked p,
p.Marked {
  margin-bottom: 1em;
  text-align: justify;
}

.Marked section {
  position: relative;
  width: 80%;
  margin: 1em 10%;
  padding-top: calc(9 / 16 * 80%); /*16:9 aspect ratio*/
}

.Marked section > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--br);
}

.Marked table {
  margin: 2em 10%;
}

.Marked table thead tr {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
  grid-gap: 1em;
  break-inside: avoid;
}

.Marked table tbody tr {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.Marked table tbody {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.Marked table img,
.Marked table iframe,
.Marked table video {
  margin: 0;
  max-width: unset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Marked code,
.Marked pre code,
code.Marked,
pre.Marked code {
  font-style: normal;
  font-family: var(--mono);
  font-weight: normal;
  font-size: 0.8em; /* 4/5 of normal */
  background-color: var(--bg-l);
  border-radius: var(--br);
  border-width: 0.08333em; /* divided by (3/5) */
}

.Marked code,
code.Marked {
  display: inline-block;
  vertical-align: middle;
  padding: 0.25em 1em;
  border-radius: var(--br-s);
}

.Marked pre code,
pre.Marked code {
  display: block;
  padding: 1em;
  margin: 2em 10%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.Marked pre code *,
pre.Marked code * {
  display: inline;
}

.Marked sub,
.Marked sup,
sub.Marked,
sup.Marked {
  font-size: 0.6em;
  font-weight: bold;
}

.Marked ul,
ul.Marked {
  list-style-type: square;
}

.Marked ul,
.Marked ol,
ul.Marked,
ol.Marked {
  text-align: justify;
  margin: 1em 10%;
}

.Marked li,
li.Marked {
  display: list-item;
}

.Marked ::marker {
  color: var(--bright);
}

.Marked blockquote,
blockquote.Marked {
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
  border-left: 0.1em solid var(--color);
  margin: 2em 10%;
}

.Marked a,
a.Marked {
  display: inline-block;
  position: relative;
  top: 0;
  color: var(--color-l);
  text-decoration: none;
  transition: top 0.25s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

/*https://stackoverflow.com/questions/30352431/css-transition-not-working-with-underline*/
.Marked a::after,
a.Marked::after {
  display: block;
  content: '';
  position: absolute;
  top: -0.125em;
  right: -0.75em;
  bottom: -0.125em;
  left: -0.75em;
  border-radius: var(--br-s);
  z-index: -1;

  opacity: 0;
  background-color: var(--color-d);
  transition: opacity 0.125s ease-in-out;
}

.Marked a:hover,
a.Marked:hover {
  top: -0.125em;
}

.Marked a:hover::after,
a.Marked:hover::after {
  opacity: 0.25;
}

.Marked a[name] {
  pointer-events: none;
  text-decoration: none;
  position: relative;
  top: -7.5em;
}

.Marked img,
.Marked video,
img.Marked,
video.Marked {
  display: block;
  object-fit: contain;
  max-height: 75vh;
  max-width: 80%;
  margin: 1em 10%;
  border-radius: var(--br);
}

@media (max-aspect-ratio: 1/1) {
  .Marked pre code,
  .Marked blockquote,
  .Marked section > iframe,
  .Marked table,
  pre.Marked code,
  blockquote.Marked,
  table.Marked {
    margin-right: 0;
    margin-left: 0;
  }

  .Marked ul,
  .Marked ol,
  ul.Marked,
  ol.Marked {
    margin: 1em 2ch;
  }

  .Marked img,
  .Marked video,
  img.Marked,
  video.Marked {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .Marked section {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-top: calc(9 / 16 * 100%); /*16:9 aspect ratio*/
  }

  .Marked table tbody tr {
    flex-direction: column;
  }
}
