.MosaicMini {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  /* grid-auto-rows: 1fr; */
  grid-gap: 0.5em;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/
  grid-auto-flow: dense;
}
