.Tag {
  color: var(--light);
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;

  font-size: 0.625em;
  font-weight: inherit;
  padding: 0.0625em 0.5em;
}
.off {
  color: var(--light);
}
.on {
  color: var(--color-l);
}

.tool {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 400;
}
.category {
  font-weight: 500;
}
.technology {
  font-style: italic;
}
