.ToggleSubscribe {
  flex-direction: column;
  margin: 1em 0;
  gap: 1em;
}

.toggleContainer {
  display: inline-flex;
  align-items: center;
  gap: 1em;
}

.errorContainer {
  display: inline-block;
}
