.Toggle {
  display: inline-flex;
  width: auto;
  align-items: center;
  cursor: pointer;
}

.Toggle p {
  display: inline-block;
  margin: 1em;
}

.child {
  width: 2.5em;
  height: 1.25em;
  border-radius: 100vh;
  background: var(--bg-l);
  transition: background-color 0.125s ease-in-out;
}

.thumb {
  width: 1.25em;
  height: 1.25em;
  border-radius: 100vh;
  background: var(--bright);
  transition: margin-left 0.125s ease-in-out;
}

.Toggle.active .thumb {
  margin-left: 1.25em;
}

.Toggle.active .child {
  background: var(--color-d);
}
