.ToggleSubscribe {
  flex-direction: column;
  margin: 1em 0;
  gap: 1em;
}

.toggleContainer {
  align-items: flex-start;
  line-height: 1.25;
  gap: 1em;
}

.errorContainer {
  display: inline-block;
}
