.About {
  width: 100%;

  display: grid;
  grid-template-areas: 'title title' 'image paragraph' 'about about' 'contact contact';
  grid-template-columns: 7.5em 1fr;
}
.About h1 {
  grid-area: title;

  margin: 0;
  padding-bottom: 0.75em;
  margin-top: 0.5em;
  line-height: 1;
}
.About > p {
  grid-area: paragraph;

  padding-left: 2em;
}
.About .about {
  grid-area: about;
  display: block;
}
.About .about .languagesToolsSkills {
  padding: 1em 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.About .about .languagesToolsSkills > div {
  display: block;
  flex-direction: column;
  flex: 1;
}
.About .about .languagesToolsSkills h2 {
  white-space: nowrap;
}
.About .GetInTouch {
  grid-area: contact;
  justify-content: flex-end;
  padding-top: 1em;
}

.About > img {
  grid-area: image;
  width: 100%;
  justify-self: center;
  max-width: 7.5em;

  border-radius: 100vh;
  box-shadow: var(--bs);
  /* https://stackoverflow.com/questions/23490320/gap-between-border-and-image-when-border-radius-is-added */
  background: var(--color-d);
  background-clip: border-box;
}

@media (max-aspect-ratio: 1/1) {
  .About {
    grid-template-areas: 'title' 'image' 'paragraph' 'about' 'contact';
    grid-template-columns: 1fr;
  }
  .About > p {
    padding: 2em 0;
    font-size: 1em;
  }
}
