.ErrorMain {
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr auto min(40vw, 25em) 1fr;

  align-items: center;
  justify-content: center;
}

.ErrorMain .imageColumn {
  padding: 0;
  font-family: var(--mono);
  font-size: min(20vw, 11.25em);
  white-space: nowrap;
  justify-content: center;
}

.ErrorMain .textColumn {
  flex-direction: column;
}

.ErrorMain .textColumn h1 {
  /* almost (duplicate) with PostHeader */
  text-align: left;
  /* (triplicate) */
  margin-top: 0;
  margin-bottom: 0.25em;
}

.ErrorMain .buttons {
  padding-top: 2em;
}

@media (max-width: 60em) {
  .ErrorMain {
    grid-template-columns: auto;
  }
  .ErrorMain .imageColumn {
    font-size: min(40vw, 11.25em);
  }
}
