.Footer {
  font-size: 0.75em;
  flex-direction: column;
  margin: 0 1em;
  margin-bottom: 5em;
}

.Footer .content {
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.Footer .content .row {
  flex-direction: column;
}

.Footer .content .row:last-child {
  align-items: flex-end;
  text-align: right;
}

.Footer .content .row .item {
  display: block;
}

.Footer .content .row .item i {
  display: inline-block;
  margin-right: 0.75ch;
}

.Footer .content .row .item i:first-child {
  margin-left: 0.75ch;
}
