.HomeHeader {
  /* (duplicate) */
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr min(40vw, 30em) auto 1fr;
  padding-top: 10em;
  padding-bottom: 5em;
}

.HomeHeader .textColumn {
  /* (duplicate) */
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.HomeHeader .textColumn h1 {
  font-size: 3.25em;
  line-height: 1;
  padding-bottom: 0.5em;
  color: var(--bright);
  text-transform: uppercase;
}

.HomeHeader .textColumn p {
  width: min(40vw, 25em);
}

.HomeHeader .editor {
  width: 100%;
  border-radius: var(--br);
}

.HomeHeader .textColumn .buttons {
  /* almost (triplicate) */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 2em;
  gap: 1em;
}

.HomeHeader .imageColumn {
  align-items: center;
}

@media (max-width: 60em) {
  .HomeHeader {
    grid-template-columns: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0;
  }
  .HomeHeader .textColumn {
    align-items: center;
    text-align: justify;
  }
  .HomeHeader .textColumn h1 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 2em;
  }
  .HomeHeader .imageColumn {
    justify-content: center;
    grid-row: 2;
  }
  .HomeHeader .textColumn p {
    width: min(80vw, 25em);
  }
  .HomeHeader .textColumn .buttons {
    justify-content: center;
  }
}
