.HomeHeader {
  /* (duplicate) */
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr 30em 35em 1fr;
  padding-top: 10em;
  padding-bottom: 5em;
}

.HomeHeader .textColumn {
  /* (duplicate) */
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.HomeHeader .textColumn h1 {
  font-size: 3.5em;
  color: var(--bright);
  text-transform: uppercase;
}

.HomeHeader .textColumn p {
  /* (duplicate) */
  width: 25em;
}

.HomeHeader .editor {
  width: 100%;
  border-radius: var(--br);
}

.HomeHeader .textColumn .buttons {
  /* almost (triplicate) */
  flex-direction: row;
  padding-top: 2em;
  gap: 1em;
}
