.MapGrid {
  width: 100vw;
  height: 100vh;
}

.mapgridContainer {
  overflow: hidden;
}

.mapgrid {
  display: grid;
  overflow: visible;
  transition: transform 0.25s ease-out;
}

.mapgrid > * {
  overflow: auto;
  padding: 1em 10vw;
}

@media (max-aspect-ratio: 1/1) {
  .mapgrid > * {
    padding: 1em 1em;
  }
}

.minimapContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  overflow: hidden;
  z-index: 1;

  width: 8em;
  height: 8em;
  padding-top: calc(8em / 2 - 2em / 2);
  padding-left: calc(8em / 2 - 2em / 2);

  border-radius: 100%;
  border: var(--border);
  background-color: var(--bg);
  box-shadow: var(--bs), var(--bs);

  transition: opacity 0.25s ease-in-out;
}

.minimap {
  display: grid;
  grid-gap: 0.25em;
  transition: transform 0.25s ease-in-out;
}

.minimap .child {
  border: var(--border);
  border-radius: var(--border-radius);
  border-color: var(--color-l);

  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.minimap .child.selected {
  background-color: var(--color-l);
}

.minimap .child:hover {
  background-color: var(--color-l);
}
