.Nav {
  position: fixed;
  top: 0;
  z-index: 1;
  margin: 2em;

  cursor: pointer;
}

.Nav i {
  color: var(--color);
  transform: rotate(180deg);

  transition: color 0.125s ease-in-out, left 0.25s ease-in-out;
  position: relative;
  left: 0;
}

.Nav:hover i {
  color: var(--color-l);
  left: -0.1em;
}
