.PageHeader {
  grid-area: header;

  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 3em 5vw;
  padding-left: 7.5vw;

  color: var(--light);
}
.PageHeader > * {
  width: auto;
  margin: 0 1em;
  break-inside: avoid;
}
.PageHeader h1 {
  margin: 0 0.25em;
  margin-top: 0;
}
.PageHeader p {
  max-width: 40ch;
}
@media (max-aspect-ratio: 1/1) {
  .PageHeader {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
