.Pinned {
  flex-direction: column;
  align-items: center;

  padding-bottom: 20em;
}

.Pinned h1 {
  display: flex;
  gap: 0.5em;
  align-items: center;
  align-self: flex-start;
  text-align: center;
}
