.PostSubHeader {
  align-items: center;
  flex-direction: column;

  color: var(--light);
}

.PostSubHeader h1 {
  /* (triplicate) */
  margin-top: 0;
  margin-bottom: 0.25em;
}

.PostSubHeader p {
  display: block;
  max-width: 40ch;
  text-align: justify;
}

.PostSubHeader p * {
  display: inline;
  vertical-align: middle;
  padding-left: 0;
}

.PostSubHeader .tags {
  align-self: flex-end;
}

@media (max-aspect-ratio: 1/1) {
  .PostSubHeader {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
