.PostHeader {
  /* (duplicate) */
  display: grid;
  gap: 3em;
  grid-template-columns: 1fr 30em 35em 1fr;
  padding-top: 10em;
  padding-bottom: 5em;
}

.PostHeader .textColumn {
  /* (duplicate) */
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.PostHeader .textColumn h1 {
  text-align: left;
  /* (duplicate) */
  margin-top: 0;
  margin-bottom: 0.25em;
}

.PostHeader .textColumn .tags {
  /* almost (triplicate) */
  flex-direction: row;
  /* TODO: */
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2em;
  gap: 0.5em;
}

.PostHeader .imageColumn img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: var(--br);
}

.PostHeader .buttons {
  flex-wrap: wrap;
  max-width: 40em;
  justify-self: center;

  /* almost (triplicate) */
  grid-column: 2 / 4;
  justify-content: center;

  flex-direction: row;
  padding-top: 2em;
  gap: 1em;
}
