.PostSubHeader {
  align-items: center;
  flex-direction: column;

  color: var(--light);
}

.PostSubHeader h1 {
  /* (duplicate) */
  margin-top: 0;
  margin-bottom: 0.25em;
}

.PostSubHeader p {
  max-width: 40ch;
}

@media (max-aspect-ratio: 1/1) {
  .PostSubHeader {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
