.VimEditor,
.VimEditor * {
  display: inline-block;
  white-space: pre;
}

.VimEditor {
  padding: 1em;
  border-radius: var(--br);
  background: var(--bg-l);
  font-size: min(1.5vw, 1em);
  font-family: var(--mono);
  line-height: 1.25;
}

/* operator */
.VimEditor u {
  color: var(--color-l);
  text-decoration: none;
}

/* bold */
.VimEditor b {
  font-weight: 600;
  color: var(--bright);
}

/* cursor */
.VimEditor span {
  background-color: var(--light);
  color: var(--dark);
}

/* visual line */
.VimEditor div {
  background-color: var(--medium);
}

@media (max-width: 60em) {
  .VimEditor {
    font-size: min(2.75vw, 1em);
  }
}
