.container {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  align-items: center;
}

.header {
  margin: 0 0.125em;
  line-height: 30vw;
  padding: 0;
  font-family: var(--mono);
  font-size: min(20vw, 11.25em);
  white-space: nowrap;
}

.content {
  display: block;
  max-width: min(40vw, 25em);
}

.buttons {
  margin-top: 1em;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: initial;
    grid-template-rows: 0 auto auto;
  }
  .header {
    margin: 0;
    margin-top: 0.5em;
    justify-self: center;
    font-size: 40vw;
  }
  .content {
    max-width: unset;
  }
}
