.Footer {
  grid-area: footer;

  display: grid;
  grid-template-areas: 'center vr contact';
  grid-gap: 1em;
  align-items: center;

  width: 100%;
  padding: 3em 10%;
  /* display: grid; */
  grid-template-columns: 3fr auto 3fr;
  grid-template-rows: auto;
  justify-items: center;
  font-size: min(0.66em, 4vw);
  white-space: pre-wrap;
  word-wrap: break-word;
}
.Footer .vr {
  grid-area: vr;

  background: var(--card2-bg);
  width: 0.1em;
  height: 100%;
}
.Footer .issue {
  text-align: right;
  margin: 0 0.75em;
}
.Footer span {
  display: block;
}
.Footer .center {
  grid-area: center;
  align-items: center;
  flex-direction: column;
}
.Footer .contact {
  grid-area: contact;
  flex-direction: column;
}
/*
https://css-tricks.com/almanac/properties/f/fill/
https://stackoverflow.com/questions/39743161/svg-fill-color-not-working
https://stackoverflow.com/questions/28652648/how-to-use-external-svg-in-html
yeah just using reUpdate's `yield include`
*/
.Footer div svg {
  fill: var(--title);
  width: 1.25em;
  height: auto;
}

@media (max-aspect-ratio: 1/1) {
  .Footer {
    grid-template-areas: 'vr' 'center' 'contact';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .Footer .vr {
    width: 75%;
    height: 0.1em;
    margin-bottom: 2em;
  }
}
