.Header {
  position: relative;
  width: 100vw;
  grid-area: header;

  display: grid;
  grid-template-areas: 'color color image' 'about about about';
  grid-template-columns: 1fr 10vw 1fr;
  grid-template-rows: 100vh auto;
}

.Header .color {
  grid-area: color;
  background: var(--bg);
}

.Header .image {
  /*https://pixabay.com/photos/work-typing-computer-notebook-731198/*/
  grid-area: image;
  /*https://stackoverflow.com/questions/26621513/darken-css-background-image*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/headerHomeImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Header .about {
  grid-area: about;

  display: grid;
  grid-template-areas: 'title title' 'image paragraph' 'image icons';
  grid-template-columns: calc(var(--smart-res-unit) * 15) 1fr;
  background: var(--card-bg);
  box-shadow: var(--bs);
  padding: calc(var(--smart-unit) * 7.5);
  padding-right: calc(var(--smart-unit) * 20);
}
.Header .about h1 {
  grid-area: title;

  margin: 0;
  padding-bottom: calc(var(--smart-unit) * 6);
}
.Header .about p {
  grid-area: paragraph;

  font-size: calc(var(--smart-res-unit) * 2.5);
  font-weight: lighter;
  padding-left: calc(var(--smart-unit) * 6);
  text-align: justify;
}
.Header .about .icons {
  grid-area: icons;
  text-align: right;

  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(var(--smart-res-unit) * 4);
  color: var(--color-l);
}
.Header .about .icons svg {
  width: 100%;
  height: 100%;
  fill: var(--color);
  transition: fill 0.25s ease-in-out;
}
.Header .about .icons a {
  display: inline-block;
  position: relative;
  top: 0;

  margin: calc(var(--smart-unit) * 2);
  height: calc(var(--smart-res-unit) * 4);
  width: calc(var(--smart-res-unit) * 4);
  transition: top 0.25s ease-in-out;
}

.Header .about .icons a:hover {
  top: calc(var(--smart-unit) * -0.5);
}
.Header .about .icons a:hover svg {
  fill: var(--color-l);
}
.Header .about img {
  grid-area: image;
  width: 100%;

  border-radius: 100vh;
  border: calc(var(--smart-unit) * 0.25) solid var(--card2-bg);
}

.Header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;

  display: grid;
  grid-template-areas:
    '. . .'
    'title title title'
    'desc desc .'
    '. . .'
    'cta arrow .'
    'cta arrow .';
  grid-template-columns: 1fr 10vw 1fr;
  grid-template-rows: 1fr auto auto 1fr auto auto;
}

@keyframes fade-right-animation {
  0%,
  25% {
    opacity: 0;
    transform: translateX(-2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.Header .title {
  grid-area: title;
  padding: calc(var(--smart-res-unit) * 2);
  padding-right: 30vw;

  color: var(--title);
  line-height: 1;
  letter-spacing: -0.08ch;
  font-size: 9vw;
  font-weight: lighter;
  text-shadow: 0 0 calc(var(--smart-unit) * 2) var(--black);

  animation: fade-right-animation 1s ease-out;
}

.Header .desc {
  grid-area: desc;
  padding: calc(var(--smart-res-unit) * 2);

  color: var(--title);
  font-size: 2.5vw;
  font-weight: lighter;

  animation: fade-right-animation 1s ease-out;
}

.Header .cta {
  grid-area: cta;
  justify-self: right;
  align-self: center;
  padding: calc(var(--smart-res-unit) * 2);

  color: var(--color-l);
  font-weight: lighter;
  font-size: calc(var(--smart-res-unit) * 3);
}

.Header .arrow {
  grid-area: arrow;
  justify-self: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: calc(var(--smart-res-unit) * 1.5);

  color: var(--color-l);
  font-weight: lighter;
  font-size: calc(var(--smart-res-unit) * 3);
  letter-spacing: -0.1ch;
}

@media (max-aspect-ratio: 1/1) {
  .Header {
    grid-template-areas: 'image image image' 'color color color' 'about about about';
    grid-template-columns: 1fr 10vw 1fr;
    grid-template-rows: 50vh 50vh auto;
  }
  .Header .title {
    font-size: calc(var(--smart-unit) * 8);
    padding-right: calc(var(--smart-unit) * 7.5);
  }
  .Header .desc {
    font-size: calc(var(--smart-unit) * 3);
  }
  .Header .overlay {
    grid-template-areas:
      '. . .'
      'title title title'
      'desc desc .'
      '. . .'
      'cta cta cta'
      'arrow arrow arrow';
    grid-template-columns: 1fr 20vw 1fr;
    height: 95vh; /*browser navbar*/
  }
  .Header .cta,
  .Header .arrow {
    width: 100%;
    text-align: center;
  }

  .Header .about {
    grid-template-areas: 'title' 'image' 'paragraph' 'icons';
    grid-template-columns: 1fr;
    padding: calc(var(--smart-unit) * 5);
  }
  .Header .about img {
    width: calc(100% - 10vw - 10vw);
    margin: 0 10vw;
  }
  .Header .about p {
    padding: calc(var(--smart-unit) * 5) 0;
    font-size: calc(var(--smart-res-unit) * 2);
  }
}
