.Header {
  position: relative;
  width: 100vw;
  grid-area: header;

  display: grid;
  grid-template-areas: 'color color image' 'about about about';
  grid-template-columns: 1fr 10vw 1fr;
  grid-template-rows: 100vh auto;
}

.Header .color {
  grid-area: color;
  background: var(--bg);
}

.Header .image {
  grid-area: image;
  background: var(--color);
}

.Header .about {
  grid-area: about;
  background: var(--card-bg);
  box-shadow: var(--bs);
  height: calc(var(--smart-unit) * 20);
}

.Header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;

  display: grid;
  grid-template-areas:
    '. . .'
    'title title title'
    'desc desc .'
    '. . .'
    'cta arrow .';
  grid-template-columns: 1fr 10vw 1fr;
  grid-template-rows: 1fr auto auto 1fr auto;
}

.Header .title {
  height: 100%;
  width: 100%;
  grid-area: title;
}

.Header .desc {
  grid-area: desc;
}

.Header .cta {
  grid-area: cta;
}

.Header .arrow {
  grid-area: arrow;
}
