.Header {
  grid-area: header;

  width: 100%;
  height: auto;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--smart-unit) * 5);*/
  column-width: calc(var(--smart-unit) * 55);
  column-gap: calc(var(--smart-unit) * 5);
  /*column-rule: calc(var(--smart-unit) * .5) solid var(--card2-bg);*/

  padding: calc(var(--smart-unit) * 5) 7.5vw;
  color: var(--text);
}
.Header > * {
  width: calc(100% - var(--smart-unit) * 2);
  margin: calc(var(--smart-unit) * 1);
  break-inside: avoid;
}
.Header .markup-h1 {
  margin-top: 0;
}
.Header img {
  height: auto;
  border-radius: calc(var(--smart-unit) * 2.5);
  box-shadow: var(--bs), var(--bs);
}

@keyframes fade-left-animation {
  0% {
    opacity: 0;
    transform: translateX(calc(var(--smart-unit) * 3));
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-right-animation {
  0%,
  25% {
    opacity: 0;
    transform: translateX(calc(var(--smart-unit) * -3));
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.Header .markup-h1,
.Header p {
  animation: fade-right-animation 1s ease-out;
}

/*.Header .tags,
.Header .buttons {
  animation: fade-left-animation 1s ease-out;
}*/

@media (max-aspect-ratio: 2/1) {
  .Header {
    padding-right: calc(var(--smart-unit) * 5);
    padding-left: calc(var(--smart-unit) * 5);
  }
}
@media (max-aspect-ratio: 1/1) {
  .Header {
    padding-left: calc(var(--smart-unit) * 2);
    padding-right: calc(var(--smart-unit) * 2);
    column-count: 1;
  }
}
