.HomeAbout {
  width: 100%;

  display: grid;
  grid-template-areas: 'title title' 'image paragraph' 'icons icons';
  grid-template-columns: 7.5em 1fr;
  background: var(--card-bg);
  box-shadow: var(--bs);
  padding: 3em 10vw;
}
.HomeAbout h1 {
  grid-area: title;

  margin: 0;
  padding-bottom: 0.75em;
  margin-top: 0.5em;
  line-height: 1;
}
.HomeAbout > p {
  grid-area: paragraph;

  font-size: 1.125em;
  font-weight: lighter;
  padding-left: 2em;
  text-align: justify;
}
.HomeAbout .GetInTouch {
  grid-area: icons;
  justify-content: flex-end;
}

.HomeAbout > img {
  grid-area: image;
  width: 100%;

  border-radius: 100vh;
  border: 0.1em solid var(--color-d);
}

@media (max-aspect-ratio: 1/1) {
  .HomeAbout {
    grid-template-areas: 'title' 'image' 'paragraph' 'icons';
    grid-template-columns: 1fr;
    padding: 1em;
  }
  .HomeAbout > img {
    width: calc(100% - 20vw - 20vw);
    margin: 0 20vw;
  }
  .HomeAbout > p {
    padding: 2em 0;
    font-size: 1em;
  }
}
