.HomeHero {
  position: relative;
  width: 100%;

  display: grid;
  grid-template-areas: 'color color image';
  grid-template-columns: 1fr 10vw 1fr;
  grid-template-rows: 100vh;
}

.HomeHero .color {
  grid-area: color;
  background: var(--bg);
}

.HomeHero .image {
  /*https://pixabay.com/photos/work-typing-computer-notebook-731198/*/
  grid-area: image;
  /*https://stackoverflow.com/questions/26621513/darken-css-background-image*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/headerHomeImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.HomeHero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;

  display: grid;
  grid-template-areas:
    '. . .'
    'title title title'
    'desc desc .'
    '. . .'
    'cta arrow .'
    'cta arrow .';
  grid-template-columns: 1fr 10vw 1fr;
  grid-template-rows: 1fr auto auto 1fr auto auto;
}

@keyframes fade-right-animation {
  0%,
  25% {
    opacity: 0;
    transform: translateX(-2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.HomeHero .title {
  grid-area: title;
  padding: calc(var(--smart-res-unit) * 2);
  padding-right: 30vw;

  color: var(--title);
  line-height: 1;
  letter-spacing: -0.08ch;
  font-size: 9vw;
  font-weight: lighter;
  text-shadow: 0 0 calc(var(--smart-unit) * 2) var(--black);

  animation: fade-right-animation 1s ease-out;
}

.HomeHero .desc {
  grid-area: desc;
  display: block;
  padding: calc(var(--smart-res-unit) * 2);

  color: var(--title);
  font-size: 2.5vw;
  font-weight: lighter;

  animation: fade-right-animation 1s ease-out;
}

.HomeHero .cta {
  grid-area: cta;
  justify-self: right;
  align-self: center;
  padding: calc(var(--smart-res-unit) * 2);

  color: var(--color-l);
  font-weight: lighter;
  font-size: calc(var(--smart-res-unit) * 3);
}

.HomeHero .arrow {
  grid-area: arrow;
  justify-self: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: calc(var(--smart-res-unit) * 1.5);

  color: var(--color-l);
  font-weight: lighter;
  font-size: calc(var(--smart-res-unit) * 3);
  letter-spacing: -0.1ch;
}

@media (max-aspect-ratio: 1/1) {
  .HomeHero {
    grid-template-areas: 'image image image' 'color color color';
    grid-template-columns: 1fr 10vw 1fr;
    grid-template-rows: 50vh 50vh;
  }
  .HomeHero .title {
    font-size: calc(var(--smart-unit) * 8);
    padding-right: calc(var(--smart-unit) * 7.5);
  }
  .HomeHero .desc {
    font-size: calc(var(--smart-unit) * 3.5);
  }
  .HomeHero .overlay {
    grid-template-areas:
      '. . .'
      'title title title'
      'desc desc desc'
      '. . .'
      'cta cta cta'
      'arrow arrow arrow';
    grid-template-columns: 1fr 20vw 1fr;
    height: 95vh; /*browser navbar*/
  }
  .HomeHero .cta,
  .HomeHero .arrow {
    width: 100%;
    text-align: center;
  }
}
