.HomeAbout {
  width: 100%;

  display: grid;
  grid-template-areas: 'title title' 'image paragraph' 'about about' 'contact contact';
  grid-template-columns: 7.5em 1fr;
  padding: 3em 10vw;
}
.HomeAbout h1 {
  grid-area: title;

  margin: 0;
  padding-bottom: 0.75em;
  margin-top: 0.5em;
  line-height: 1;
}
.HomeAbout > p {
  grid-area: paragraph;

  padding-left: 2em;
  text-align: justify;
}
.HomeAbout .about {
  grid-area: about;
  display: block;
}
.HomeAbout .about .languagesToolsSkills {
  padding: 1em 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.HomeAbout .about .languagesToolsSkills > div {
  display: block;
  flex-direction: column;
  flex: 1;
}
.HomeAbout .about .languagesToolsSkills h2 {
  white-space: nowrap;
}
.HomeAbout .GetInTouch {
  grid-area: contact;
  justify-content: flex-end;
  padding-top: 1em;
}

.HomeAbout > img {
  grid-area: image;
  width: 100%;

  border-radius: 100vh;
  box-shadow: var(--bs);
  /* https://stackoverflow.com/questions/23490320/gap-between-border-and-image-when-border-radius-is-added */
  background: var(--color-d);
  background-clip: border-box;
}

@media (max-aspect-ratio: 1/1) {
  .HomeAbout {
    grid-template-areas: 'title' 'image' 'paragraph' 'about' 'contact';
    grid-template-columns: 1fr;
    padding-left: 1em;
    padding-right: 1em;
  }
  .HomeAbout > img {
    width: calc(100% - 20vw - 20vw);
    margin: 0 20vw;
  }
  .HomeAbout > p {
    padding: 2em 0;
    font-size: 1em;
  }
}
