.marked {
  overflow-x: hidden;
  column-width: calc(var(--smart-res-unit) * 50);
  column-gap: calc(var(--smart-unit) * 10);
  column-rule: calc(var(--smart-unit) * 0.25) solid var(--card2-bg);
  margin: calc(var(--smart-unit) * 5) 7.5vw;
}
@media (max-aspect-ratio: 1/1) {
  .marked {
    padding-left: 0;
    padding-right: 0;
  }
}
