.PostMain {
  flex-direction: column;
  overflow-x: hidden;
  margin: 3em 7.5vw;
  opacity: 0;
}
.PostMain > span {
  column-width: 50em;
  column-gap: 7.5em;
  column-rule: 0.1em solid var(--card-bg-l);
}
.PostMain .spacer {
  height: 5em;
}

@media (max-aspect-ratio: 1/1) {
  .PostMain {
    margin-left: 0;
    margin-right: 0;
  }
}
