.PostHeader {
  grid-area: header;
  display: block;

  width: 100%;
  max-width: calc(var(--smart-unit) * 200);
  justify-self: center;
  height: auto;

  column-width: calc(var(--smart-unit) * 55);
  column-gap: calc(var(--smart-unit) * 5);
  column-count: 2;

  padding: calc(var(--smart-unit) * 5) 7.5vw;
  color: var(--text);
}
.PostHeader > * {
  width: 100%;
  margin: calc(var(--smart-unit) * 3) 0;
  break-inside: avoid;
}
.PostHeader .markup-h1 {
  margin-top: 0;
}
.PostHeader img {
  width: 100%;
  height: auto;
  margin-top: 0;
  border-radius: calc(var(--smart-unit) * 0.5);
  box-shadow: var(--bs), var(--bs);
}
.PostHeader .tags,
.PostHeader .buttons {
  flex-wrap: wrap;
}

@media (max-aspect-ratio: 2/1) {
  .PostHeader {
    padding-right: calc(var(--smart-unit) * 5);
    padding-left: calc(var(--smart-unit) * 5);
  }
}
@media (max-aspect-ratio: 1/1) {
  .PostHeader {
    padding-left: calc(var(--smart-unit) * 1);
    padding-right: calc(var(--smart-unit) * 1);
    column-count: 1;
  }
}
